.app {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 'header' 'body' 'footer';
  background-color: #2196F3;
}

.app-header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 20px;
  color: #fff;
}

.app-content {
  grid-area: body;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.app-title {
  font-size: 5em;
  margin: 5px;
}

.app-footer {
  min-height: 20px;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 20px;
  color: #fff;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
}